# Node modules
node_modules

# Bundled JS files by webpack
**/bundle.js

# avn optional version file
.node-version

# Use yarn.lock instead of package-lock.json
package-lock.json

# Jest coverage reports
coverage