<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Form elements</title>
    <meta name="description" content="Basic HTML5 template">
    <meta name="author" content="My Name">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <div class="navigation">
        <ul>
            <li><a href="./search-box/search-box.html">Search Box</a></li>
            <li><a href="./user-list/user-list.html">User List</a></li>
            <li><a href="./search-users/search-users.html">Search Users ( Search Box + User List )</a></li>
        </ul>
    </div>
</body>
</html>