@import "../_variables";

.search-box {

    font-family: @default-font-family;
    position: relative;
    font-size: @default-font-size;
    border-radius: 3px;
    width: 100%;
    line-height: 24px;

    &__header {

        min-height: 24px;
    }

    &__field {

        box-sizing: border-box;
        font-size: @default-font-size;
        padding: @default-padding;
        border: @default-border;
        line-height: @default-line-height;
        width: 100%;

        &:focus {

            outline: none;
            border-color: @default-border-color;
        }
    }

    &__list {

        min-height: 50px;

        &-item {

            box-sizing: border-box;
            line-height: 24px;
            padding: 12px 19px;
            border: @default-border;
            border-top: none;
        }
    }
}

